---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.front_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5em;
}
